body {
  font-family: sans-serif;
  margin: auto;
  max-width: 960px;}
.navbar {
  background-color: #333377;
  border-radius: 2px;
  max-width: 800px;}
.navbar a {
  color: #aaaaaa;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;}
.navbar a:hover {
  color: #ffffff;}